[user]
  name = nnsng
  email = ngocsang1201@gmail.com

[blame]
  coloring = highlightRecent
  date = relative

[init]
  defaultBranch = main

[status]
  branch = true
  short = true
  showStash = true
  showUntrackedFiles = all

[push]
  autoSetupRemote = true
  default = current

[pull]
  rebase = true

[rebase]
  autoStash = true

[url "git@github.com:"]
  insteadOf = "gh:"
